body {
  background-image: url(/src/assets/img/soccer.png);
  background-size: 250%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 100px 0 0;
}
